<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="toEmail" value="phumsiri.sirimuratha@kingpower.com,yati.apichotbavorn@kingpower.com,sinsombat.jintavanich@kingpower.com,wipada.klungtes@kingpower.com,wichian_c@kingpower.com,w.sirahirunchanon@accenture.com" />
    </appSettings>
</configuration>